div {
  border: solid 2px red;
}
div img {
  width: 100%;
}
.card {
  width: 300px;
  border-radius: 0 0 15px 15px;
  border: solid rgb(49, 47, 47) 1px;
  /* box-shadow: 20px 10px 20px 1px rgb(216, 127, 44); */
  -webkit-box-shadow: 12px 18px 37px 15px rgba(255, 126, 38, 0.55);
  box-shadow: 12px 18px 37px 15px rgba(255, 126, 38, 0.55);
  margin: 30px 0;
}
.card h3 {
  text-align: center;
}
.card p {
  padding: 0 10px;
}
